<!DOCTYPE html>
<html>
    <head>
        <title>Showcase your realtime traffic</title>
        <meta name="description" content="Showcase your realtime traffic" />

        <!-- amCharts javascript sources -->
        <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    </head>
    <body style="margin: 0;background-color: rgba(80,80,80,1);">
        <!-- amCharts javascript code -->
        <script type="text/javascript"src="js/ammap-settings.js"></script>
        <script type="text/javascript" src="js/realtime-map.js"></script>
        <script type="text/javascript" src="js/client.js"></script>
        
        <div id="map" style="width: 100%; height: 512px;"></div>
        
        <script type="text/javascript">
            window.onresize = (function() {
                window_height = window.innerHeight;
                document.getElementById("map").style.height = window_height + "px";
            });
            
            window.onload = window.onresize;
        </script>
    </body>
</html>