<!DOCTYPE html>
<html>
    <head>
        <title>Showcase your realtime traffic</title>
        <meta name="description" content="Showcase your realtime traffic" />

        <!-- amCharts javascript sources -->
        <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/ammap.js"></script>
        <script type="text/javascript" src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    </head>
    <body style="margin: 0;background-color: rgba(80,80,80,1);">
        <!-- amCharts javascript code -->
        <script type="text/javascript"src="js/ammap-settings.js"></script>
        <script type="text/javascript" src="js/realtime-map.js"></script>
        <script type="text/javascript" src="js/client.js"></script>
        
        <div id="map" style="width: 100%; height: 512px;"></div>
        <a href="https://github.com/zaiddabaeen/realtime-traffic-map" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <section>
            <div id="footer" style="width:100%; height: 30px; background-color: #333; text-align:center;">
                <a href="http://z-proj.com" target="_blank" style="color: #ddd; width: 100%; font-size: 12px; text-decoration: none; top: 4px; position: relative;">Created by Zaid Daba'een</a>
            </div>
        </section>
        
        <script type="text/javascript">
            window.onresize = (function() {
                window_height = window.innerHeight;
                document.getElementById("map").style.height = window_height - 30 + "px";
            });
            
            window.onload = window.onresize;
        </script>
    </body>
</html>